body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin: 0;
}
.container{
    width: 100%;
}
.content{
    width: 40%;
    height: 500px;
    float: left;
    padding: 100px 0;
    margin: 19.5px 0;
}
.content h1{
    font-family: 'Roboto';
    color: rgb(240, 99, 99);
    text-align: center;
    margin-bottom: 20px;
}
.content img{
    width: 100%;
}
.form{
    box-sizing: border-box;
    padding: 50px;
    width: 60%;
    height: 739px;
    float: right;
    background-color: #f8a3a8;
}
.form .image{
    text-align: center;
    padding: 20px;
}
.image img{
    width: 250px;
    height: 200px;
    padding-bottom: 30px;
}
.form .input-email{
    text-align: center;
    padding: 0 20px 10px;
}
.form .input-email input{
    border: 10px;
    padding: 4px 11px;
    border-radius: 2px;
    font-size: 18px;
    width: 400px;
    height: 36px;
    background-color: white;
}
.form .input-email input:focus{
    font-size: 12px;
}
.error{
    padding: 0 30px 20px;
    text-align: right;
    width: 380px;
    margin: auto;
    text-align: left;
}
.form .error p,.error p{
    margin: auto;
    text-align: left;
    margin: 0;
    color: rgb(252, 62, 62);
}
.form .input-password{
    text-align: center;
    padding: 0 20px 20px;
}
.form .input-password input{
    border: 10px;
    padding: 4px 11px;
    border-radius: 2px;
    font-size: 18px;
    width: 400px;
    height: 36px;
    background-color: white;
}
.form .submit{
    padding: 0 20px 20px;
    text-align: center;
}
.form .submit button{
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    width: 422px;
    height: 44px;
    background-color: rgb(240, 99, 99);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
.form .submit button:hover{
    background-color: #49b1f7;
}
.form .text{
    text-align: center;
}
.form .text p{
    font-size: 20px;
}
.form .text a{
    color: rgb(240, 99, 99);
    text-decoration: none;
}
.form .text a:hover{
    color: #49b1f7;
}
.form .forgot{
    text-align: center;
    padding: 0 20px 20px;
}
.form .forgot a{
    font-size: 20px;
    color: rgb(240, 99, 99);
    transition: 0.2s;
    text-decoration: none;
}

.form .forgot a:hover{
    color: #49b1f7;
}
.icon{
    font-family: 'Font Awesome 6 Free';
    font-weight: 550;
}
