<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <title>Detail Penyakit</title>
</head>
<body>
    <div class="container">
        <div class="sub-header">
            <h1>Detail Penyakit</h1>
        </div>
        <div class="desc">
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet delectus, placeat quam tempore perferendis fugit laudantium rerum commodi ratione eaque vero at obcaecati omnis asperiores consequatur quaerat sit veritatis! Omnis.</p>
            </section>
        </div>
        <div class="sub-header2">
            <section>
                <h2>Symptoms</h2>
                <ul>
                    <li>Symptom 1</li>
                    <li>Symptom 2</li>
                    <li>Symptom 3</li>
                </ul>
            </section>
        </div>
        <div class="sub-header3">
            <section>
                <h2>Medication</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, fuga ullam reprehenderit eligendi quis ex incidunt praesentium nesciunt ea iste ut porro quo dolore minus provident rerum, aut delectus. Voluptate.</p>
            </section>
        </div>
        <div class="sub-header4">
            <section>
                <h2>Prevention</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci molestias, fuga, consequatur qui fugit, molestiae perferendis veritatis excepturi officia cum non beatae tenetur commodi provident cumque maiores hic! Eaque, rem.</p>
            </section>
        </div>
    </div>
</body>
</html>
