<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dist/output.css" />
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- FONT -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    spacing: {

                    },
                    fontFamily: {
                        lalezar: ['Lalezar'],
                        lato: ['Lato'],
                    },
                },
            },
        };
    </script>
    <!-- <style>
        .text {
            white-space: nowrap;
            overflow: hidden;
            animation:
                typing 2s steps(18),
                cursor .4s step-end infinite alternate;
    
            @keyframes cursor {
                50% {
                    border-color: transparent
                }
            }
        }
        </style> -->
    <title>HEALTH CARE | HOME</title>
</head>

<body>
    <section>
        <header class=" text-white bg-red-300">
            <nav class="flex justify-between w-[92%] mx-auto text-2xl">
                <div class="  md:min-h-fit min-h-[60vh] left-0 top-[9%] md:w-auto w-full flex item-center px-5 my-auto font-lato">
                    <ul class="flex md:flex-row flex-col md:item-center md:gap-[4vw] gap-[2vh]">
                        <li>
                            <a class="text-red-700 font-bold" href="/global">Home</a>
                        </li>
                        <li>
                            <a class="text-red-500" href="/server">Server</a>
                        </li>
                        <li>
                            <a class="text-red-500" href="/acc"> Account</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <img class="w-20  mr-72" src="../img/logoH.png" alt="HealthCare">
                </div>
                <div class="my-auto">
                    <button class="bg-red-500 px-10 py-3 rounded-full hover:bg-red-600 font-lato">Log out</button>
                </div>
            </nav>
        </header>
    </section>
    <!-- end section navbar -->
    <!-- section intro -->
    <section>
        <div class="item-center">
            <h1 class="text-red-500 font-bold text-center text-4xl mt-16"> Selamat Datang Di Health Care!</h1>
            <h2 class="text-gray-500 text-xl text-center">Melindungi Dengan Segenap Jiwa</h2>
        </div>
    </section>
    <!-- end section intro -->
    <!-- section chat -->
    <section>
        <!-- <div class="relative h-5/6">
                <div class="">
                    <h1 class="font-bold text-3xl mb-5 text-red-500 ml-5 ">Berita Terkini</h1>
                    <div class="ml-5">
                        <a href="" class="font text-2xl text-gray-500 ml-5">Gejala Penyakit</a> <br>
                        <p class="font text-xl text-gray-400 ml-5">Virus baru covid 19 muncul lagi di jabodetabek</p>
                        <a href="" class="font text-2xl text-gray-500 ml-5">kanker Usus</a>
                    </div>
                </div>
            </div> -->
        <div class=" mt-28  mb-28 max-w-4xl h-5/6 rounded-2xl bg-red-400 mx-auto ">
            <div class="container mx-auto shadow-lg rounded-lg">
                <!-- headaer -->
                <div class="item-center px-5 py-5 flex justify-between items-cente border-b-2">
                    <div class=" text-center font-semibold text-2xl text-white">Global Chat</div>

                </div>
                <div class=" max-h-80  flex flex-row justify-between relative overflow-y-scroll">
                    <div class="w-full px-5 flex flex-col justify-between">
                        <div class="flex flex-col mt-5">
                            <div class="flex justify-end mb-4">
                                <!-- Chat bubble -->
                                <div class="mr-2 py-3 px-4 bg-red-500 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
                                    PE BANG, INFO INFO
                                </div>
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                            </div>
                            <div class="flex justify-start mb-4">
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                                <div class="ml-2 py-3 px-4 bg-gray-600 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
                                    INFO AA TU DIKKKK?
                                </div>
                            </div>
                            <div class="flex justify-end mb-4">
                                <div>
                                    <div class="mr-2 py-3 px-4 bg-red-500 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
                                        INFO LOKERNYA DONGG
                                    </div>

                                    <div class="mt-4 mr-2 py-3 px-4 bg-red-500 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
                                        BUTUH DUIT AA
                                    </div>
                                    <div class="mt-4 mr-2 py-3 px-4 bg-red-500 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
                                        Cari Karajo
                                    </div>
                                </div>
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                            </div>
                            <div class="flex justify-start mb-4">
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                                <div class="ml-2 py-3 px-4 bg-gray-600 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
                                    NDEEH
                                </div>
                            </div>
                            <div class="flex justify-start mb-4">
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                                <div class="ml-2 py-3 px-4 bg-gray-600 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
                                    Ndak Ado Kini do
                                </div>
                            </div>
                            <div class="flex justify-start mb-4">
                                <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600" class="object-cover h-8 w-8 rounded-full" alt="" />
                                <div class="ml-2 py-3 px-4 bg-gray-600 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
                                    Bisuak Lah Dih
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end message -->
                <div class="py-5 relative">
                    <input class="w-full absolute border-red-400 border-y-4  border-x-4 hover:border-red-400 y-0 bg-gray-300 py-5 px-3 rounded-xl" type="text" placeholder="Ketik Sesuatu..." />
                    <button class="absolute right-0 bg-green-400 hover:bg-green-500 w-20 h-10 mt-3 mr-3 text-white rounded-full">Kirim</button>
                </div>

            </div>

        </div>

        </div>

    </section>



</body>