body{
    margin: 0;
    background-color: rgb(240, 99, 99);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-signup{
    max-width: 1000px;
    margin: 100px auto;
    background-color: white;
}
.sign{
    padding: 50px 100px 0px;
    margin: 100px 0;
}
.sign img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
}
.sign h1{
    line-height: 100px;
    margin-bottom: 20px;
}
.sign h2{
    text-align: center;
    margin-bottom: 20px;
}
.sign{
    padding-bottom: 20px;
}
.input-name input{
    background-color: #f0f0f0;
    padding: 4px 11px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 38px;
}
.input-email input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 38px;
}
.input-email label{
    font-size: 16px;
}

.input-password input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    width: 250px;
    height: 38px;
}
.input-repassword input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 250px;
    height: 38px;
}
.role select{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 38px;
}
.height input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    width: 400px;
    height: 38px;
}
.weight input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    width: 300px;
    height: 38px;
}
.age input{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 38px;
}
.goldar select{
    background-color: #f0f0f0;
    border: none;
    padding: 4px 11px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 38px;
}
.gender{
    padding-bottom: 20px;
}
.gender label{
    border-radius: 5px;
    font-size: 20px;
}
.sign p{
    text-align: center;
    font-size: 18px;
}
.submit{
    text-align: center;
    margin-bottom: 20px;
}
.submit button{
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    height: 48px;
    border-radius: 20px;
    padding: 0 15px;
    background-color: #2B6AFD;
    color: white;
    border: none;
}
