body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 99, 99);
}
section {
    background-color: #fff;

    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
section:hover{
    border: 1px solid rgb(241, 139, 139);
}
h2 {
    color: rgb(240, 99, 99);
    text-decoration: underline;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
.container{
    margin: 0 300px;
    background-color: #fff;
}
.sub-header{
    background-color: rgb(241, 139, 139);
    color: #fff;
    text-align: center;
    padding: 20px;
}
.sub-header h1 {
    padding: 20px;
    margin: 0;
    letter-spacing: 2px;
}
.sub-header2{

}
.sub-header3{

}
.sub-header4{
    padding-bottom: 20px;
}
.sub-header4 section{
    margin-bottom: 0;
    
}
